nav.navbar.navbar-default
  div.container
    div.navbar-header
      a.navbar-brand(href="/")= sitename
      button.navbar-toggle(data-toggle="collapse", data-target="#navbar-main")
        span.icon-bar
        span.icon-bar
        span.icon-bar
    div#navbar-main.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="/about") about
      ul.nav.navbar-nav.navbar-right
        li.divider-vertical
        li
          a(href="/login") login with github
