div.navbar
  div.navbar-inner
    div.container
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="/")= sitename
      div.nav-collapse
        ul.nav
          li
            a(href="/about") About
        ul.nav.pull-right
          li.divider-vertical
          li
            a(href="/login") Login with Github
