extends index

block content
  div.span7.offset2
    h1 GistBlog
    p
      | Hi, I'm 
      a(href="https://twitter.com/jazzychad") jazzychad
      |. You can find 
      a(href="http://blog.jazzychad.net") my main blog over here
      |.

    p
      | GistBlog is a blogging system for Github users. 
      a(href="http://txt.jazzychad.net/gist/6007164") This post gives some more detail.
    p
      | It's open-source. You can find the code here: 
      a(href="https://github.com/jazzychad/gistblog")
        | https://github.com/jazzychad/gistblog

