extends index

block navbar
  if user
    include includes/nav_in
  else
    include includes/nav_out

block content
  if blog_post
    h2 Edit Blog Post
  else
    h2 New Blog Post
  form.form-horizontal(method="POST", role="form")
    div.form-group
      label.control-label.col-md-2 Title
      div.controls.col-md-8
        if blog_post
          input(type="text", name="title", placeholder="Title", class="form-control", value=blog_post.title, id="post_title")
        else
          input(type="text", name="title", placeholder="Title", class="form-control", id="post_title")
    div.form-group
      label.control-label.col-md-2 Private
      div.controls.col-md-8
        if blog_post && blog_post.is_private
          input(type="checkbox", name="is_private", checked="checked", disabled="true", class="form-control")
        else if blog_post
          input(type="checkbox", name="is_private", disabled="true", class="form-control")
        else
          input(type="checkbox", name="is_private")
    div.form-group
      label.control-label.col-md-2 Allowed Viewers
      div.controls.col-md-8
        if blog_post && blog_post.is_private
          input(type="text", name="allowed_viewers", class="form-control", id="allowed_viewers", value=blog_post.allowed_viewers_string)
        else if blog_post
          input(type="text", name="allowed_viewers", class="form-control", id="allowed_viewers", value="", disabled="true")
        else
          input(type="text", name="allowed_viewers", class="form-control", id="allowed_viewers")
    div.form-group
      label.control-label.col-md-2 Body
      div.controls.col-md-8
        textarea(name="body", rows="20", cols="15", class="form-control", id="post_body")
          if blog_post
            =blog_post.draftText || blog_post.body
    div.form-group
      div.controls.col-md-8.col-md-offset-2
        if blog_post
          input(type="hidden", name="gistId", value=blog_post.gistIdStr)
        input.btn.btn-primary(type="submit")

    hr
    h2 Preview
    p A live preview of your post (including Markdown styling) will appear below
    hr

    div#preview

block scripts_extra
  script(src="/js/marked.js", type="text/javascript")
  script(src="/js/compose.js", type="text/javascript")